$primary: #1e2833;
$secondary: #258351;
$tertiary: #306afd;
$grey: #dddddd;
$black: #333333;
$background: #121617;
$primary-text: #ffffff;
$link: #306afd;
$darkgrey: rgb(78, 77, 87);
$darkgrey: rgb(78, 77, 87);
$filter-background-color: #eaeaea;
$category-shadow:#f0eeee;