.review-component {
  height: calc(100vh - 70px);
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  background: $primary;
}

h2.review-title {
  margin: 10px 0;
  width: 400px;
  color: $primary-text;
  font-size: 1.2rem;
}

.review-form {
  width: 400px;
  display: grid;
  grid-template-rows: auto auto;
  border: 1px solid #d2d2d2;
  padding: 1rem;
}

.dv-star-rating {
  justify-self: start;
  margin-bottom: 1rem;
}

textarea.review {
  outline: none;
  border: none;
}

.submit-review-btn {
  background: black;
  color: gold;
  border: 1px solid $black;
  justify-self: flex-end;
  margin-top: 10px;
  padding: 10px;
}